img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 80%;
}

header{
    color:#fff;
    display: inline-block;
    padding: 20px;
    margin-left: 30px;
}

main{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    text-align: center;
}

#login-form input[type=text]{
    /* box-sizing: border-box; */
    width: 78%;
    height: 30px;
    padding: 20px 0;
    margin: 20px 0;
    text-align: center;
    background: transparent;
    border: none;
    outline: none;
    font-size: large;
    border-bottom: 1px solid #F08080;
}

#login-form input[type=text]::placeholder{
    color:#F08080;
}

#login-form input[type=submit]{
   display: none;
}

#todo{
    width: 350px;
    margin: auto;
}

#todo-form input[type=text]{
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    background:	#F08080;
    border: none;
    text-align: center;
}

#todo-form input[type=text]:focus{
    outline: none;
}

#todo-form input[type=text]::placeholder{
    color: #fff;
    text-align: center;
}

#todo ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#todo ul li{
    background: #fff;
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
}

#todo ul button{
    color: red;
    background: #fff;
    border: none;
    float: right;
    margin-top: 12px;
    cursor: pointer;
}

.hidden{
    display:none;
}

#greeting{
    color: #F08080;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:#fff;
}
